* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1234px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: none;
}

body {
    text-decoration: line-through;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.d-flex{
    display: flex;
}

.align-items-center{
    display: flex;
    align-items: center;
}

/*section main*/


.main {
    background: linear-gradient(293.79deg, #FF5B00 54.22%, #FF8440 100%);
    position: relative;
}

.main_wrapper {
    position: relative;
    padding-bottom: 144px;
}

.main_desc {
    font-weight: 500;
    font-size: 48px;
    line-height: 53px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.main_desc span {
    color: #121212;
    text-decoration: line-through;
}

.main_desc-wrapper {
    margin-right: 75px;
    max-width: 820px;
}

.main_dots {
    position: absolute;
    bottom: 0;
    left: 20%;
}

.main_quotes {
    position: absolute;
    top: 0;
    z-index: 99;
    left: 12%;
}

/*header*/

.header {
    position: absolute;
    top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 99;
}

.header_links {
    display: flex;
    align-items: center;
}

.header_link {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-decoration: line-through;
}

.header_link-first {
    margin-right: 53px;
}

.header_link-second {
    margin-right: 56px;
}

.header_link-third {
    margin-right: 62px;
}

.header_link-fourth {
    margin-right: 74px;
}

.header_link:hover {
    color: rgba(255, 255, 255, 0.5);
}

/*lets-go*/

.lets-go {
    padding: 160px 0 298px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.lets-go-fire {
    position: absolute;
    left: -30%;
    bottom: 35%;
}

.lets-go-title {

    font-weight: 500;
    font-size: 180px;
    line-height: 180px;
}

.lets-go-img {
    position: absolute;
    width: 529px;
    height: 579px;
    left: 50%;
    transform: translateX(-50%);
}

.lets-go-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lets-go-col {
    display: flex;
    flex-direction: column;

}

.lets-go-col span {
    margin-bottom: 60px;
}

.lets-go-infos {
    padding-left: 37px;
}

.lets-go-info {
    margin-bottom: 30px;
}

.lets-go-amount {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #121212;
    text-decoration: line-through;
}

.lets-go-desc {
    max-width: 230px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.lets-go-dots {
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    top: 35%;
}


/*about*/

.about {
    padding: 140px 0 167px;
    background: linear-gradient(328.22deg, #0D0D0D 40.74%, #1E1E1E 81.47%);
    position: relative;
}
.about_img {
    width: 50%;
}

.about-content {
    width: 50%;
}

.about_title {
    font-weight: 500;
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 30px;
    color: #FFFFFF;
    max-width: 250px;
}

.about_content-desc {
    max-width: 222px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: -50px;
}

.about_wrapper {
    display: flex;

}

.about_desc {
    max-width: 303px;
    margin-bottom: 20px;
}

.about_astroman{
    position: absolute;
    left: 22.5%;
    top: 18%;
    z-index: 99;
}
.about_fire{
    position: absolute;
    bottom: 0;
}

.about_dots{
    position: absolute;
    top: 25%;
}